<br></br><br></br>
<div class="row">
	{{# each products}}
	<div class="row">
		{{# each this}}
		<div class="col-sm-3 col-md-4">
			<div class="card" style="width: 15rem ;">
				<img class="card-img-top" src="{{this.productImage}}" alt="Card image cap" class="img-responsive" width="238" height="180">
				<div class="card-block">
					<h2 class="card-title">{{this.title}}</h2>
					<p class="card-text">${{this.price}}</p>
					<a href="/cart/add-to-cart/{{this._id}}" class="fa fa-shopping-cart pull-left" role="button">Add to Cart</a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{/each}}

</div>
<!-- /.row -->